---
title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 

```{r}
# redes neuronales

#instalamos el pack


library("nnet")
library(caret)

#cargamos data ser

bn <- read.csv("../Desktop/sebastian/r studio/cheat sheet/banknote-authentication.csv.txt")

# convertimos class a factor

bn$class <- factor(bn$class)

# creamos el conjunto de entrenamiento

t.id <- createDataPartition(bn$class, p = 0.7 , list = FALSE)

# creamos la red neuronal

mod <- nnet(class ~ . , data = bn[t.id,],
            size = 3 , maxit = 10000 , decay = .001, rang = 0.05)

# creamos un predictor

pred <- predict(mod, newdata = bn[-t.id,], type = "class" )

#creamos una matriz de confusion para comprobar la eficiencia

table(bn[-t.id,]$class ,pred , dnn= c("actual" , "predicho"))

